KelolaProduk::create([
    'kode_produk' => 11111
    'id_pelayanan' => '01'
    'id_kain' => 'K-001'
    'nama_produk' => 'Kaos Sablon'
    <!-- 'ukuran' => 'L'
    'model' => 'Pendek'
    'harga' => 60000
    'foto' => 'kaos_sablon.png'
    'detail' => 'Kaos Sablon Pendek yang desainnya dari pelanggan' -->
])
KelolaProduk::create([
    'id_produk' => ''
    'id_pelayanan' => ''
    'id_kain' => ''
    'nama_produk' => ''
    'ukuran' => ''
    'model' => ''
    'harga' => ''
    'foto' => ''
    'detail' => ''
])
KelolaProduk::create([
    'id_produk' => ''
    'id_pelayanan' => ''
    'id_kain' => ''
    'nama_produk' => ''
    'ukuran' => ''
    'model' => ''
    'harga' => ''
    'foto' => ''
    'detail' => ''
])
KelolaProduk::create([
    'id_produk' => ''
    'id_pelayanan' => ''
    'id_kain' => ''
    'nama_produk' => ''
    'ukuran' => ''
    'model' => ''
    'harga' => ''
    'foto' => ''
    'detail' => ''
])